# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
AccessMyVNAv0.7/release/myVNAdata01.csv
AccessMyVNAv0.7/release/myVNAdata03.csv
AccessMyVNAv0.7/release/myVNAdata05.csv
AccessMyVNAv0.7/release/myVNAdata07.csv
AccessMyVNAv0.7/release/myVNAdata09.csv
AccessMyVNAv0.7/release/myVNAdata11.csv

AccessMyVNAv0.7/release/settings01.txt
AccessMyVNAv0.7/release/settings03.txt
AccessMyVNAv0.7/release/settings05.txt
AccessMyVNAv0.7/release/settings07.txt
AccessMyVNAv0.7/release/settings09.txt
AccessMyVNAv0.7/release/settings11.txt

Default_settings.mat
fg_values.mat
raw_spectras.mat
